
body {
    font-family: 'Source Serif Pro', serif;
    padding: 2em;
    margin: 0;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #66B2FF;
}
.lab-intro {
    font-size: 1.2em;
    font-style: italic;
    color: #002855;
    text-align: center;
    max-width: 800px;
    margin: 1.5em auto;
    padding: 1em 2em;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}


body > *:not(#particles-js) {
    position: relative;
    z-index: 1;
}
.container {
    max-width: 800px;
    margin: auto;
}
.top-bar h1{
    background-color: #2F2C2D;
    color: #66ccff;
    padding: 1em 2em;
    text-align: center;
    font-size: 2em;
    font-family: 'Source Serif Pro', serif;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.top-bar h1{
    margin: 0;
}
h1 {
    font-size: 3em;
    color: #0000ff;
    text-align: center;
}
h2 {
    color: #0000ff;
}
.section {
    margin-top: 2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.65);
    border-left: 4px solid  #0000ff;
    border-radius: 16px;
}
.section u1 {
    margin-left: 1.5em;
    padding-left: 0.5em;
}
footer {
    margin-top: 4em;
    text-align: center;
    font-size: 0.8em;
    color: #0000ff;
}
a {
    color: #66ccff;
}
